.header {
  min-width: 100%;
  max-width: 100%;
  height: 5rem;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.199);
  z-index: 99;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0rem 2rem;
}

.header_nav {
  min-width: 20%;
  max-width: 20%;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}


.header_nav > li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}



.header_logo {
  max-width: 7rem;
  align-self: center;
}
